.container{
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 20vh 80vh; 
    height: 100vh;
}
.navbar{
    height: 100vh;
}
.container>.header{
    background-color: #FFFFFF;
    height: 9vh;
    width: 85vw;
}
.mainContent{
 
    grid-column: 2;
    grid-row: 2; 
    overflow: auto; 
}
